<div class="container mt-4">
  <nav class="p-2 m-2 border border-info" *ngIf="authService.hasRole('ADMIN')" >
    <button class="btn btn-outline-info" (click)="handleNewProduct()" >New product</button>
  </nav>
  <ng-template #errors>
   <div class="text-danger">
    {{errorMessage}}
   </div>
  </ng-template>




  <div class="card" *ngIf="products; else errors">
    <div class="card-header">Products List</div>
    <div class="card-body">
      {{searchFormGroup.value | json}}
      <form [formGroup]="searchFormGroup" (ngSubmit)="handleSearchProducts()" >
        <div class="input-group">
          <label  class="input-group-text">Keyword: </label>
          <input type="text" class="form-control" formControlName="Keyword">
          <button class="btn btn-info">
            <i class="bi bi-search-heart"></i>
          </button>
        </div>
      </form>
      <table class="table">
        <thead>
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>Price</th>
          <th>Heart</th>
          <th *ngIf="authService.hasRole('ADMIN')">Promotion</th>
          <th *ngIf="authService.hasRole('ADMIN')">Delete</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let p of products">
          <td>{{p.id}} </td>
          <td>{{p.name}}</td>
          <td>{{p.price}}</td>
          <td >
            <i [ngClass]="p.promotion==true? 'bi bi-heart-fill text-success' : 'bi bi-heart text-success' " ></i>
          </td>
          <td *ngIf="authService.hasRole('ADMIN')">
            <button (click)="handleSetPromotion(p)" [ngClass]="p.promotion==true? 'btn btn-danger': 'btn btn-success' ">
          <span  *ngIf="p.promotion==true">Promo off</span>
          <span *ngIf="p.promotion==false">Promo on</span>
          </button>
          </td>
          <td *ngIf="authService.hasRole('ADMIN')">
            <button type="button" class="btn btn-danger" (click)="handleDeleteProduct(p)">
              <i class="bi bi-trash"></i>
            </button>
          </td>
          <td *ngIf="authService.hasRole('ADMIN')">
            <button type="button" class="btn btn-success" (click)="handleEditProduct(p)">
              <i class="bi bi-edit"></i>
            </button>
          </td>
        </tr>
      </tbody>
      </table>
      <ul class="nav nav-pills">

        <li *ngFor="let item of [].constructor(this.totalPages); let i =index">
          <span [ngClass]="i==currentPage? 'btn-info': 'btn-outline-info' " class="btn  m-2"
          (click)="goTo(i)">{{i}} </span>
        </li>

      </ul>
    </div>
  </div>
</div>
